@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

:root {
  height: 100%;
}

::-webkit-file-upload-button {
  background-color: #2949c6;
  border: none;
  color: #ffffff;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}
